.PnlMainContent input[type=submit], .PnlMainContent input[type=button] {
    margin: 0px !important;
    padding: 0 10px 0 10px !important;
    font-family: verdana, Sans-Serif;
    color: #000;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    height: 25px !important;
    line-height: 25px !important;
}



.dllspecielbtn 
{
    height: 24px !important;
    line-height: 22px !important;
    width: 30px !important;
    margin: 2px 0 0 0 !important;
    outline: 0;
}

.dllspecielbtn .ui-button-icon-primary 
{
    left: 50% !important;
}

.ui-state-hover {
    color: #C77405 !important;
}

.dllspecielbtn span
{
    padding: 0;
    height: 22px !important;
    line-height: 23px !important;
}

.PnlSearchContent .time {
    width: 50px !important;
    height: 22px !important;
    font-size: 11px;
    padding: 0;
    line-height: 23px !important;
}

.PnlMainContent input[type=text], .PnlMainContent input[type=password] {
    font-family: verdana, Sans-Serif;
    font-size: 11px;
    padding: 0 0 0 4px;
    height: 22px !important;
    font-weight: normal;
    line-height: 22px !important;
    text-align: left;
    margin: 2px 0 2px 2px;
    width: 200px;
    padding: 0;
    text-indent: 3px;
    color: #000;
    vertical-align: middle;
}

.PnlMainContent input[type=text]:focus, .PnlMainContent input[type=password]:focus, .PnlMainContent .ui-autocomplete-input:focus
{
    border: 1px solid yellow;
}

.PnlMainContent .ddlspeciel, .PnlBottomContent .ddlspeciel {
    font-family: verdana, Sans-Serif;
    font-size: 11px;
    height: 22px !important;
    font-weight: normal !important;
    line-height: 22px !important;
    text-align: left;
    margin: 2px 0 2px 2px;
    width: 200px;
    padding: 0;
    color: #000;
    cursor: text;
    text-indent: 3px;
    vertical-align: middle;
}

.PnlMainContent select, .PnlBottomContent select {
    font-family: verdana, Sans-Serif;
    font-size: 11px;
    height: 20px;
    text-align: left;
    margin: 2px;
    padding: 1px 0 0 0;
    color: #000;
    cursor: pointer;
}

h1, h2, h3, h4 {
    text-align: left;
    text-decoration: none;
}

h1
{
    font-family: Tahoma, Sans-Serif;
    font-size: 18px;
    color: #000;
    text-transform: capitalize;
    cursor: default;
    line-height: normal;
    font-weight: normal;
    margin-bottom: 10px;
}

h2
{
    font-family: Arial, Sans-Serif;
    font-size: 14px;
    color: #4c6aaa;
    display: block;
    font-weight: bold;
    line-height: normal;
    text-transform: capitalize;
    margin: 15px 0 8px 0;
}

h3
{
    font-family: Tahoma, Sans-Serif;
    font-size: 18px;
    color: #4c6aaa;
    text-transform: capitalize;
    display: block;
    line-height: normal;
    font-weight: normal;
    margin: 6px 0 8px;
}

h4
{
    font-family: Tahoma, Sans-Serif;
    font-size: 13px;
    color: #000;
    line-height: normal;
    display: inline;
    cursor: pointer;
    font-weight: normal;
    margin-top: 10px;
}


.HyperBlog h4 {
    font-family: Tahoma, Sans-Serif;
    font-size: 18px;
    color: #4c6aaa;
    text-transform: capitalize;
    display: block;
    font-weight: normal;
    margin: 0 0 8px;
}

    .HyperBlog:hover .LblBloxText 
    {
          text-decoration: underline;
    }

.imgTLD
{
    width: 19px;
    display: inline;
    height: 11px;
}

.LblHelp 
{
    cursor: help;
}

.TblHeadRow {
    font-family: verdana, Sans-Serif;
    padding: 8px 8px 0 0;
    color: #000;
    height: auto;
    cursor: default;
    font-size: 12px;
    text-align: right;
    font-weight:normal;
    vertical-align: top;
}

.TblCellRow {
    font-family: verdana, Sans-Serif;
    color: #000;
    height: auto;
    cursor: default;
    vertical-align: top;
    text-align: left;
}

.TblCellRow .ValidateSpanFix 
{
    display: none;
}

.TblCellRow #amorpm 
{
    display: inline;
    vertical-align: middle;
    text-transform: uppercase;
    margin: 0 0 0 7px;
}

.errorjquery 
{
    float: right;
    padding: 0;
    margin: 6px 2px 0 0;
}

.unknownjquery 
{
    float: right;
    padding: 0;
    height: 16px;
    width: 16px;
    display: block;
    margin: 6px 2px 0 0;
}

.successjquery 
{
    float: right;
    padding: 0;
    margin: 6px 2px 0 0;
}

.TblBoxsTheme 
{
    padding: 5px;
    border-spacing: 0px;
    border-collapse: separate;
    border-style: none;
    border-width: 0px;
}

.TblBoxsTheme td
{
    padding: 3px;
}

.DdlSelectLang {
    font-family: verdana, Sans-Serif;
    font-size: 11px;
    text-align: left;
    margin-left: 5px;
    width: auto;
    height: auto;
    color: #000;
    vertical-align: middle;
    cursor: pointer;
}

.TrAdvanced {
  position: inherit;
}

.PnlChatCursorHelper {
  height: 40px;
  width: 160px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.PnlChat {
  height: auto;
  width: 150px;
  display: block;
  position: fixed;
  top: 0;
  z-index: 99;
}

.PnlViewClanChats {
  display: block;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #fff;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  height: 0px;
  width: 150px;
}

.PnlViewClanChats span {
  padding: 5px;
  width: 130px;
  display: block;
}

.PnlViewClanChats li {
  display: block;
  height: 20px;
  cursor: pointer;
  width: 125px;
  padding: 0 5px 0 5px;
  line-height: 20px;
  font-family: verdana;
}

.PnlViewClanChats li .LblChatNumber {
  font-weight: bold;
}

.PnlViewClanChats li:hover {
  background: #ddd;
}

.HyperClanChat {
  height: 25px;
  width: 150px;
  display: block;
  cursor: pointer;
  position: relative;
  bottom: 0;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  background-color: #fff;
  left: 0;
   color: #000;
   text-align: left;
  z-index: 99;
}

.HyperClanChat .text {
  position: relative;
  z-index: 99;
  height: 28px;
  line-height: 28px;
  padding: 0 5px 0 5px;
  font-family: verdana;
  font-size: 12px;
  font-weight: bold;
  display: block;
  width: 140px;
  bottom: 0px;
  left: 0;
}

.HyperClanChat:hover .text .btnBg 
{
          background: url('/images/chatbox_corners.png.ashx') no-repeat 0 -4px;
}
    
.HyperClanChat .text .btnBg 
{
      background: url('/images/chatbox_corners.png.ashx') no-repeat 0 0;
      position: absolute;
      bottom: 0px;
      height: 4px;
      width: 100%;
      left: 0;
}

.HyperClanChat .text:hover {
  background: url('/images/clanchat_corners_hover.png.ashx') no-repeat;
  color: #fff;
}

.HyperClanChat .text .LblChatCount {
  font-weight: normal;
}

.HyperClanChat:hover {
  background-color: lightgreen;
}


	.ui-button { margin-left: -1px; }
	.ui-button-icon-only .ui-button-text { padding: 0.35em; } 
	.ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em; }

	.ui-autocomplete {
		max-height: 120px;
		overflow-y: auto;
	}
	
	/* IE 6 doesn't support max-height
	 * we use height instead, but this forces the menu to always be this tall
	 */
	* html .ui-autocomplete {
		height: 120px;
	}
