<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="charteris.web">
      <section name="httpHandlers" type="Charteris.Web.Configuration.HttpHandlersConfigHandler, Charteris.Web.HttpHandlers"/>
    </sectionGroup>
    <sectionGroup name="DataPageHolderGroup">
      <section name="DataPageHolder" type="SearchWar.Optimize.DataPageSection" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
    <!-- software architects - CachingHandler -->
    <sectionGroup name="SoftwareArchitects">
      <section name="Caching" requirePermission="false" type="SoftwareArchitects.Web.Configuration.CachingSection, SoftwareArchitects.Web.CachingHandler"/>
    </sectionGroup>
  </configSections>
  <DataPageHolderGroup>
    <DataPageHolder enable="true">
      <Pages>
        <add name="MasterPage" pagePath="~/MasterPage.master">
          <Jss>
            <add name="JsComboBox" path="~/javascript/combobox.js"/>
            <add name="JsCenterElements" path="~/javascript/centerelement.js"/>
            <add name="JsMasterPage" path="~/javascript/pages/MasterPage.js"/>
          </Jss>
          <Csss>
            <add name="CssReset" path="~/Css/CssReset.css"/>
            <add name="CssDesign" path="~/Css/CssDesign.css"/>
            <add name="CssStyle" path="~/Css/CssStyle.css"/>
            <add name="CssIe6" path="~/Css/BrowserFixs/IE6.css"/>
          </Csss>
        </add>
        <add name="default" pagePath="~/default.aspx">
          <Jss>
            <add name="JsPicker" path="~/javascript/timepickcustom.js"/>
            <add name="JsDefault" path="~/javascript/pages/Default.js"/>
          </Jss>
          <Csss>
            <add name="CssDefault" path="~/Css/CssPages/CssDefaultaspx.css"/>
          </Csss>
        </add>
        <add name="searching" pagePath="~/Searching.aspx">
          <Jss>
            <add name="JsSearching" path="~/javascript/pages/Searching.js"/>
          </Jss>
          <Csss>
            <add name="CssSearching" path="~/Css/CssPages/CssSearchingaspx.css"/>
          </Csss>
        </add>
      </Pages>
    </DataPageHolder>
  </DataPageHolderGroup>
  <appSettings>
    <clear/>
    <!--CssHandler-->
    <add key="UseFileSet" value="true"/>
    <add key="VersionNo" value="1.0"/>
    <!--Others-->
    <add key="vsDays" value="1"/>
    <add key="RemoveWhitespace" value="true"/>
    <add key="WebPageLimit" value="10"/>
    <add key="CacheAll" value="false"/>
    <add key="OptimzeUrl" value="false"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="SearchWarConnectionString" connectionString="Data Source=SERVER-NAME;Initial Catalog=DATABASE-NAME;Persist Security Info=True;User ID=USERNAME;Password=PASSWORD-HERE" providerName="System.Data.SqlClient"/>
    <add name="Searchwar_netEntities" connectionString="metadata=res://*/App_Code.SearchwarDBModel.csdl|res://*/App_Code.SearchwarDBModel.ssdl|res://*/App_Code.SearchwarDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERNAME;initial catalog=DATABASE-NAME;persist security info=True;user id=USERNAME;Password=PASSWORD-HERE;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
    <caching>
      <!--<sqlCacheDependency enabled="true" pollTime="30000">
                <databases>
                    <add name="Pubs" connectionStringName="SearchWarConnectionString" />
                </databases>
            </sqlCacheDependency>-->
      <cache disableMemoryCollection="false" disableExpiration="false" percentagePhysicalMemoryUsedLimit="90"/>
    </caching>
    <xhtmlConformance mode="Strict"/>
    <roleManager enabled="true" defaultProvider="SqlRoleManager" cookieName="aspnet_SearchWar" cookiePath="/" cookieTimeout="10" cookieRequireSSL="false" cookieProtection="Encryption">
      <providers>
        <clear/>
        <add name="SqlRoleManager" type="System.Web.Security.SqlRoleProvider" connectionStringName="SearchWarConnectionString" applicationName="aspnet_SearchWar"/>
      </providers>
    </roleManager>
    <profile defaultProvider="SqlProfileProvider" enabled="false">
      <providers>
        <clear/>
        <add name="SqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="SearchWarConnectionString" applicationName="aspnet_AnonymousSearchWar"/>
      </providers>
      <properties/>
    </profile>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SearchWarConnectionString" applicationName="aspnet_SearchWar" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>
    <httpRuntime enable="true" enableHeaderChecking="true" enableKernelOutputCache="true" enableVersionHeader="false" shutdownTimeout="220" maxRequestLength="4048" executionTimeout="60" requestLengthDiskThreshold="300" minFreeThreads="10" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" delayNotificationTimeout="10" waitChangeNotification="0" maxWaitChangeNotification="0" requestValidationMode="4.0" sendCacheControlHeader="false"/>
    <trace enabled="false" requestLimit="20" mostRecent="true" localOnly="true" traceMode="SortByTime" pageOutput="false"/>
    <globalization requestEncoding="utf-8" fileEncoding="utf-8" responseEncoding="utf-8" enableClientBasedCulture="false" enableBestFitResponseEncoding="false" culture="en-US" uiCulture="en-US"/>
    <compilation optimizeCompilations="true" debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms cookieless="UseCookies" protection="All" name="aspnet_SearchWar" timeout="10" path="/" requireSSL="false" enableCrossAppRedirects="false" slidingExpiration="false" loginUrl="~/Login.aspx"/>
    </authentication>
    <authorization>
      <!--<deny users="?" />-->
      <!-- For testing with forms authentication... -->
      <allow users="*"/>
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <customErrors mode="Off" defaultRedirect="~/CustomErrorPages/unknown.aspx">
      <!-- Forbidden -->
      <error statusCode="403" redirect="~/CustomErrorPages/403.aspx"/>
      <!-- Method Not Allowed -->
      <error statusCode="405" redirect="~/CustomErrorPages/405.aspx"/>
      <!-- Page/File not found -->
      <error statusCode="404" redirect="~/CustomErrorPages/404.aspx"/>
      <!-- Request Timeout -->
      <error statusCode="408" redirect="~/CustomErrorPages/500.aspx"/>
      <!-- Internal Server Error -->
      <error statusCode="500" redirect="~/CustomErrorPages/500.aspx"/>
    </customErrors>
    <sessionState cookieless="UseCookies" useHostingIdentity="true" cookieName="Searchwar_sessionID" compressionEnabled="true">
    </sessionState>
    <pages smartNavigation="false" clientIDMode="Predictable" autoEventWireup="true" validateRequest="true" compilationMode="Auto" maintainScrollPositionOnPostBack="false" masterPageFile="~/MasterPage.master" enableEventValidation="true" enableViewState="true" enableSessionState="true" buffer="true" enableViewStateMac="true" viewStateEncryptionMode="Auto" renderAllHiddenFieldsAtTopOfForm="false" controlRenderingCompatibilityVersion="4.0">
      <tagMapping>
        <!-- <add tagType="System.Web.UI.Page" mappedTagType="PageActionFixer" /> -->
        <!-- <add tagType="System.Web.UI.WebControls.Image" mappedTagType="BorderlessImage" /> -->
        <!-- <add tagType="System.Web.UI.WebControls.Panel" mappedTagType="PanelFix" /> -->
        <!-- <add tagType="System.Web.UI.WebControls.ImageButton" mappedTagType="BorderlessImageButton" /> -->
      </tagMapping>
    </pages>
    <httpHandlers>
      <!--cache view-->
    </httpHandlers>
    <httpModules/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <handlers>
      <!--<add name="cacheview" verb="*" path="CacheView.axd" preCondition="integratedMode" type="Charteris.Web.HttpHandlers.CacheViewHandler,Charteris.Web.HttpHandlers" />-->
      <!-- javascript handlers -->
      <add name="javascript" path="js.axd" verb="*" preCondition="integratedMode" type="ScriptCompressorHandler"/>
      <!-- data handlers -->
      <add name="otherdata" path="xml.ashx" verb="*" preCondition="integratedMode" type="XmlHandler"/>
      <add name="searchengine" path="s.ashx" verb="*" preCondition="integratedMode" type="SearchWar.SearchEngine.XmlSearchsHandler"/>
      <add name="manager" path="m.ashx" verb="*" preCondition="integratedMode" type="XmlResponseManager"/>
      <!-- css handlers -->
      <!--<add name="multicss" verb="*" path="multiCss.ashx" preCondition="integratedMode" type="SearchWar.Optimize.Css.ResourceHandler" />-->
      <add name="png" verb="*" path="*.png.ashx" preCondition="integratedMode" type="SearchWar.Optimize.CacheImages"/>
      <add name="jpg" verb="*" path="*.jpg.ashx" preCondition="integratedMode" type="SearchWar.Optimize.CacheImages"/>
      <add name="gif" verb="*" path="*.gif.ashx" preCondition="integratedMode" type="SearchWar.Optimize.CacheImages"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<add name="WhitespaceModule" preCondition="managedHandler" type="SearchWar.Optimize.WhitespaceModule" />-->
      <add name="ImageOptimzer" preCondition="managedHandler" type="SearchWar.Optimize.ImageOptimzer"/>
      <add name="RemoveServerHeader" preCondition="managedHandler" type="Zen.Core.Web.CloakIIS.CloakHttpHeaderModule"/>
    </modules>
    <rewrite>
      <rules>
        <rule name="CanonicalHostNameRule1" patternSyntax="ECMAScript" stopProcessing="true">
          <match url=".*" negate="true"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^(www.)?searchwar.(dk|eu)$"/>
          </conditions>
          <action type="Redirect" url="http://www.searchwar.net/{R:0}" redirectType="Permanent"/>
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="mail.freestuff.dk" port="587"/>
      </smtp>
    </mailSettings>
  </system.net>
  <charteris.web>
    <httpHandlers>
      <cacheView enabled="false" showViewDataLink="true"/>
    </httpHandlers>
  </charteris.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"/>
  </system.serviceModel>
</configuration>